Java-specific ignore

*.class
*.jar
*.war
*.ear
*.log
results_java.txt

Go-specific ignore

main
*.exe
*.exe~
*.dll
*.so
*.dylib
results_go.txt

IDE-specific ignore

.idea/
.vscode/
*.swp
*.swo
.DS_Store

Project specific logs

results_*.txt
